p {
    line-height: 1.5;
}

img {
    width: 400px;
    border-radius: 8px;
    margin: 10px 0;
}

li {
    font-weight: bold;
    margin-top: 15px;
}

a {
    color: darkblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}